@model Attendant_check.Models.Expenses

@{
    ViewData["Title"] = "Create";
}



<h4 class="text_color p-3">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Expenses &nbsp;|&nbsp;
    <a  class="btn bg-reports">@DateTime.Now.ToString("MMMM"),@DateTime.Now.ToString("yyyy")</a>|
    <a asp-action="Index" class="btn button_custome">Back to List</a>

</h4>
@*<hr />*@
<br />
<div class="row">
    <div class="col-md-6">
        <h6 class="font-weight-bold">Water and Electricity bill</h6>
        <form asp-action="Create" class=" text_color p-3 ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Choose expense:</label>
                <select class="form-control" asp-for="Expense">
                    <option value="Water">
                        --Choose Expense--
                    </option>
                    <option value="Water">
                        Water
                    </option>
                    <option value="Electricity">
                        Electricity
                    </option>



                </select>
                <span asp-validation-for="Expense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ammount in Ksh.</label>
                <input asp-for="Ammount" class="form-control" />
                <span asp-validation-for="Ammount" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" value="@DateTime.Now.ToString("yyyy-MM-mmThh:mm")" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default button_custome" />
            </div>
        
            <table class="table">
               
                <tr>
                    <td class="border-0">Electricity bill:</td>
                    <td class="border-0">@ViewBag.electricity_bill</td>
                </tr></tr>
                <tr>
                    <td class="border-0">Water bill:</td>
                    <td class="border-0">@ViewBag.water_bill</td>
                </tr>
                @{
                    decimal total_bills = @ViewBag.electricity_bill + @ViewBag.water_bill;

                 }
                <tr>
                    <th class="border-0">Total(Expenses):</th>
                    <th class="border-0">@total_bills</th>
                </tr>


            </table>
        </form>

      
    </div>
    <div class="col-md-6 ">
        @if (@ViewBag.hide_button == "1")
        {
            <h6 class="font-weight-bold">&nbsp;Revenue per carton:&nbsp;(Already submitted)</h6>

        }
        else
        {
            <h6 class="font-weight-bold">Revenue per carton:</h6>

        }
    <form asp-action="Create" class="text_color p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Expense" class="control-label"></label>
            <select class="form-control" asp-for="Expense" disabled>
                <option value="Revenue" selected>
                    Revenue
                </option>
                <option value="Water">
                    Water
                </option>
                <option value="Electricity">
                    Electricity
                </option>



            </select>
            <span asp-validation-for="Expense" class="text-danger"></span>
        </div>
        <table class="table">
            <tr>
                <td class="border-0">Rate:</td>
                <td class="border-0">5%</td>
            </tr>
            <tr>
                <td class="border-0">Carton sold this month:</td>
                <td class="border-0">@ViewBag.sold_cartons.ToString("#,##0")</td>
            </tr>
            <tr>
                <td class="border-0">Cash Made:</td>
                <td class="border-0">@ViewBag.Cash_made.ToString("#,##0.00")</td>
            </tr>
            <tr>
                <th class="border-0">Total(Revenue):</th>
                <th class="border-0">@ViewBag.total_rvenue.ToString("#,##0.00")</th>
            </tr>
        </table>
   
        <div class="form-group" hidden>
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" value="@DateTime.Now" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        @if (@ViewBag.hide_button == "1")
        {



        }
        else
        {
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default button_custome" />
            </div>
        }
    </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <h6 class="font-weight-bold">Transport expenses this month:</h6>
        <form asp-action="Create" class=" text_color p-3 ">

            <table class="table">
                <tr>
                    <th class="border-0">Ksh.</th>
                    <th class="border-0">@ViewBag.transport.ToString("#,##0.00")</th>
                </tr>

            </table>
        </form>

    
    </div>
    <div class="col-md-6">
        <h6 class="font-weight-bold">Salary:</h6>
        <form asp-action="Create" class=" text_color p-3 ">

            <table class="table">
                <tr>
                    <td class="border-0">Industry Employees:</td>
                    <td class="border-0">@ViewBag.industry_empl</td>
                </tr>
                <tr>
                    <td class="border-0">Supply Employees:</td>
                    <td class="border-0">@ViewBag.supply_empl</td>
                </tr>
                <tr>
                    <td class="border-0">Salary(Monthly):</td>
                    <td class="border-0">@ViewBag.salary.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <th class="border-0">Total:</th>
                    <th class="border-0">@ViewBag.total_salary.ToString("#,##0.00")</th>
                </tr>

            </table>
        </form>
      

    </div>
    <div class="col-md-6">
        <h6 class="font-weight-bold">Buying Expenses</h6>
        <form asp-action="Create" class=" text_color p-3   ">

            <table class="table">
                <tr>
                    <td class="border-0">1 Litre Bottles:</td>
                    <td class="border-0">@ViewBag.one_litre.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td class="border-0">5 Litres Bottles:</td>
                 
                    <td class="border-0">
                        
                        
                        <p>@ViewBag.five_litre.ToString("#,##0.00")</p>


                   </td>
                        
                </tr>
                <tr>
                    <th class="border-0">Total Spent:</th>
                    <th class="border-0">@ViewBag.buying_expense.ToString("#,##0.00")</th>
                </tr>

            </table>
        </form>


    </div> <div class="col-md-6 mt-2">
        <h6 class="font-weight-bold">Profit analysis</h6>
        <form asp-action="Create" class=" text_color p-3  bg-white ">

            <table class="table">
                <tr>
                    <td class="border-0">Gross Income:</td>
                    <td class="border-0">@ViewBag.Cash_made.ToString("#,##0.00")</td>
                </tr>
                <tr>
                    <td class="border-0">Total Deductions & Expenses:</td>
                 
                    <td class="border-0">
                        
                        
                        <p>@ViewBag.Total_deduction.ToString("#,##0.00")</p>


                   </td>
                        
                </tr>
                <tr >
                    <th class="border-0" >Company Profit:</th>
                    <th class="bg-success text-white  border-0" style="border-radius:15px;">@ViewBag.profit.ToString("#,##0.00")</th>
                </tr>

            </table>
        </form>


    </div><div class="col-md-12 mt-2">
        <h6 class="font-weight-bold">Submit Monthly report</h6>
        <form asp-action="Create" class=" text_color p-3  bg-white ">
            @if (ViewBag.hide_submit_m == 1)
            {
                <table class="table">
                    <tr>
                        <td style="border-right:grey 2px solid">
                            <img style="height:50px; width:50px;" src="https://www.freeiconspng.com/thumbs/success-icon/success-icon-10.png" />
                        </td>
                        <td class="border-top-0">
                            NB: This month's sales have already been submitted; there is no need to do so again.<br /><br />
                            <a asp-action="index" asp-controller="Monthly_sales"  class="btn   btn-sm bg-reports" >Go to Reports&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>


                            @*  <a asp-action="Create" asp-route-submit="1" class="btn button_custome"><i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;Submit</a>*@

                        </td>

                    </tr>


                </table>
            }
            else
            {
        <table class="table">
            <tr>
                <td  style="border-right:grey 2px solid">
                    <img class="ml-3" style="height:50px; width:50px;" src="https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-1/254000/90-512.png" />
                </td>
                <td class="border-0">
                    To keep track of prior months' sales, submit sales.<br /><br />
                    <a asp-action="Create" asp-route-submit="1" class="btn   btn-sm bg-reports"><i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;Submit</a>

                </td>

            </tr>

        </table>
            }
        </form>


    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
