@model IEnumerable<Attendant_check.Models.Expenses>

@{
    ViewData["Title"] = "Index";
}
<h4 class="text_color p-3">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Expenses &nbsp;|&nbsp;
    <a class="button_custome btn" asp-action="Create">Back </a>


</h4>


<table class="table text_color">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ammount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Expense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ammount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
