@model IEnumerable<Attendant_check.Models.Monthly_sales>

@{
    ViewData["Title"] = "Index";
}

   
      <table class="text_color w-100 p-2  mr-0 m-2" >
          <tr>
              <td class="p-2"><i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp;Monthly Sales Records</td>
              <td>
                  <form asp-action="filter">

                  </form>
              </td>
          </tr>

      </table>
     

<table class="table text_color p-2" style="font-size:12px;">
    <thead>
        <tr style="font-size:10px;">
            <th>


               <span class="text-success font-weight-bold">MONTH</span> 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Electricity_bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.water_bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Revenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buying_expenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gross_income)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{

                    string MONTH = item.Date.Month.ToString();
                    string YEAR = item.Date.Year.ToString();
                    String month;
                    switch (MONTH)
                    {
                        case "1":
                            month = "JANUARY";
                            break;
                        case "2":
                            month = "FEBRUARY";
                            break;
                        case "3":
                            month = "MARCH";
                            break;
                        case "4":
                            month = "APRIL";
                            break;
                        case "5":
                            month = "MAY";
                            break;
                        case "6":
                            month = "JUNE";
                            break;
                        case "7":
                            month = "APRIL";
                            break;
                        case "8":
                            month = "AUGUST";
                            break;
                        case "9":
                            month = "SEPTEMBER";
                            break;
                        case "10":
                            month = "OCTOBER";
                            break;
                        case "11":
                            month = "NOVEMBER";
                            break;
                        case "12":
                            month = "DECEMBER";
                            break;
                        default:
                            month = "No Month";
                            break;
                    }

                }
                <span class="text-success font-weight-bold"> @month,@YEAR</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Electricity_bill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.water_bill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buying_expenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gross_income)
            </td>

            <td>
               
                <a asp-action="Details" class="btn btn-sm bg-reports" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" class="btn btn-sm bg-reports" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
