


<div class="main-section ">
    <div class="row " style="margin-top:30px;">
        <div class="col-lg-12">
            <div class="w3-panel w3-card-4 p-10 shaddo bg-white dashbord text_color">
                <table>
                    <tr>
                        <td style="        border-right: 2px solid #a93226;
        margin: 10px;">
                            &nbsp;&nbsp; <img src="/images/carton (2).png" style="height:50px;margin:15px;" />
                        </td>
                        <td>

                            <table>
                                <tr>
                                    <td colspan="6" class="text-left"><p style="margin-left:10px;">Administrator &nbsp;&nbsp;|&nbsp;&nbsp;@ViewBag.name Brian Kimutai</p></td>
                                </tr>
                                <tr class="p-4">

                                    <td><a   asp-action="Index" asp-controller="System_users" class="btn button_custome " action><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;System users</a></td>
                                    <td><button data-toggle="modal" data-target="#manage_cartons" class="btn button_custome " action><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Add or restock cartons</button></td>
                                    <td><button data-toggle="modal" data-target="#sell_item" class="btn button_custome "><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>&nbsp;Sell carton</button></td>
                                    <td>  <a asp-action="Close_month"  class="btn button_custome "><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Close month</a></td>
                                    <td>
                                       
                                    </td>


                                </tr>

                            </table>

                        </td>

                    </tr>

                </table>



            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4">
            <img scr="" class="card_icon" /><br>


            <div class="dashbord">
                <div class="icon-section">
                    <i class="fa fa-square-o" aria-hidden="true"></i><br />
                    <h6 class="card_label">1 Litre bottles</h6>
                    <p></p>
                    <h5 class="font-weight-bold text_color_cards">@ViewBag.one_litre</h5>

                </div>
                <div class="detail-section">

                    <a class="btn btn-light round_b button_cards" data-toggle="modal" data-target="#change_1"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add stock &nbsp;</a>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img scr="" class="card_icon" /><br>


            <div class="dashbord">
                <div class="icon-section">
                    <i class="fa fa-square" aria-hidden="true"></i><br />
                    <h6 class="card_label">5 Litre bottles</h6>
                    <p>@ViewBag.five_litre</p>
                    <h5 class="font-weight-bold text_color_cards">72</h5>

                </div>
                <div class="detail-section">

                    <a class="btn btn-light round_b button_cards" data-toggle="modal" data-target="#change_16"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add stock &nbsp;</a>

                </div>
            </div>
        </div> <div class="col-lg-4">
            <img scr="" class="card_icon" /><br>


            <div class="dashbord">
                <div class="icon-section">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i><br>
                    <small class="card_label">Manage Salaries</small>
                    <p>@ViewBag.Staff</p>
                    <h5 class="font-weight-bold text_color_cards">Salaries</h5>

                </div>
                <div class="detail-section">

                    <a class="btn btn-light round_b button_cards" data-toggle="modal" data-target="#Manage_salary">Manage salaries &nbsp;<i class="fa fa-money" aria-hidden="true"></i></a>

                </div>
            </div>
        </div> <div class="col-lg-4">
            <div class="dashbord ">
                <div class="icon-section">
                    <i class="fa fa-users" aria-hidden="true"></i><br />
                    <h6 class="card_label">Employees</h6>
                    <p>@ViewBag.Staff</p>
                    <h5 class="font-weight-bold text_color_cards">10</h5>

                </div>
                <div class="detail-section">
                    <a class="btn btn-light round_b button_cards" asp-action="create" asp-controller="Course_reg">Manage employees&nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></a>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="dashbord_g">
                <div class="icon-section">

                    <i class="fa fa-arrows-h" aria-hidden="true"></i><br>
                    <h6 class="card_label">Manage expense</h6>
                    <p>@ViewBag.Staff</p>
                    <h5 class="font-weight-bold text_color_cards">Epenses</h5>

                </div>
                <div class="detail-section">
                    <a class="btn btn-light round_b button_cards_r" data-target="#expenses" data-toggle="modal" style="color: #149077
" ><i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;Go to Expenses&nbsp;</a>


                </div>
            </div>
        </div>  <div class="col-lg-4">
            <div class="dashbord_g">
                <div class="icon-section">

                    <i class="fa fa-bar-chart" aria-hidden="true"></i><br>
                    <h6 class="card_label">Go to reports</h6>
                    <p>@ViewBag.Staff</p>
                    <h5 class="font-weight-bold text_color_cards">Reports</h5>

                </div>
                <div class="detail-section">
                    <a class="btn btn-light round_b button_cards_r" style="color: #149077
" asp-action="Reports" >Go to reports&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>


                </div>
            </div>
        </div> 

    </div>

</div>
<div class="modal fade" id="manage_cartons" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content w3-card">

            <div class="modal-header  p-2  custome_header color_custome">
                <img src="/images/bottle.png" class="modal_logo" />&nbsp;<b class="color_custome">Cartons&nbsp;</b>
            </div>
            <div class="modal-body  p-2  text-center">
                <a asp-action="Create" asp-controller="Cartons" class="btn button_custome mt-3 " action><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add records</a>




                <table class="w-100 mt-3">
                    <tr>
                        <th>Bottle type</th>
                        <th>Buying Price/ bottle</th>
                        <th>Selling Price / bottle</th>
                        <th>No of Bottles</th>
                        <th>No of Bottles/Carton</th>

                        <th>Actions</th>


                    </tr>
                    @foreach (var x in ViewBag.cartons)
                    {
                    <tr>
                        <td>@x.Carton_category</td>
                        <td>@x.Buying_price</td>
                        <td>@x.Selling_price</td>
                        <td>@x.No_of_bottle</td>
                        <td>@x.bottle_per_carton</td>


                        <td colspan="4">
                            <a asp-route-id="@x.id" asp-controller="Cartons" asp-action="Edit"  class="btn-sm btn btn-outline-success">Modify</a>|
                            <a asp-route-id="@x.id" asp-controller="Cartons" asp-action="Delete" class="btn-sm btn btn-outline-danger">Delete</a>
                            @*<a class="btn-sm btn btn-outline-success">Add &nbsp;<i class="fa fa-plus-circle" aria-hidden="true"></i></a>*@



                        </td>
                    </tr>
                    }
                    <tr>
                        <td>5 Litre</td>
                        <td>9</td>
                        <td>Ksh.150</td>
                        <td>24000</td>
                        <td>2</td>


                        <td colspan="4">
                            <a class="btn-sm btn btn-outline-success">Modify</a>|

                            
                            <a class="btn-sm btn btn-outline-danger">Delete</a>|
                         



                        </td>
                    </tr>
                </table>


                <div class="modal-body ">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="button" class="btn btn-white text-dark btn-sm shaddo" data-dismiss="modal">Exit</button>
                        </div>            <!-- Modal Header -->
                    </div>            <!-- Modal Header -->
                </div>
            </div>
    </div>

</div>
    </div>
    <div class="modal fade" id="change_16" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content w3-card">

            <div class="modal-header  p-2  custome_header color_custome">
                <img src="/images/bottle.png" class="modal_logo" />&nbsp;<b class="color_custome">Add 5 litres bottles&nbsp;</b>
            </div>
            <div class="modal-body  p-2  text-center">
                <form asp-action="take_attendance" asp-controller="staff_log_in" id="modify_form">
                    <div class="form-group">
                        No. of bottles added
                        <input class="form-control" name="price_il" required placeholder="Enter quantity here" />
                    </div>
                    <div class="form-group">
                       Transport cost
                        <input class="form-control" name="price_il" required placeholder="Enter transport cost here" />
                    </div>
                   
                    <button class="btn button_custome mt-3 " action><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Update stock</button>
                </form>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-white text-dark btn-sm shaddo" data-dismiss="modal">Exit</button>
                    </div>            <!-- Modal Header -->
                </div>            <!-- Modal Header -->
            </div>
        </div>
    </div>
    </div>
</div>
    <div class="modal fade" id="sell_item" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content w3-card">

            <div class="modal-header  p-2  custome_header color_custome">
                <img src="/images/bottle.png" class="modal_logo" />&nbsp;<b class="color_custome">Cartons sold&nbsp;</b>
            </div>
            <div class="modal-body  p-2  text-center">
                <form asp-action="take_attendance" asp-controller="staff_log_in" id="modify_form">

                    <div class="form-group">
                        Select carton

                        <select class="form-control">
                            <option value="1 Litre">1 Litre</option>
                            <option value="5 Litres">5 Litres</option>
                        </select>
                    </div>
                    <div class="form-group">
                        Cartons sold
                        <input class="form-control" name="price_il" required placeholder="Enter cartons sold" />
                    </div>
                    <button class="btn button_custome mt-3 " action><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Submit</button>
                </form>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-white text-dark btn-sm shaddo" data-dismiss="modal">Exit</button>
                    </div>            <!-- Modal Header -->
                </div>            <!-- Modal Header -->
            </div>
        </div>
    </div>
</div>
</div>
    <div class="modal fade" id="expenses" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content w3-card">

                <div class="modal-header  p-2  custome_header color_custome">
                    <img src="/images/bottle.png" class="modal_logo" />&nbsp;<b class="color_custome">Manage expenses&nbsp;</b>
                </div>
                <div class="modal-body  p-2  text-center">
                    <form asp-action="take_attendance" asp-controller="staff_log_in" id="modify_form">
                        <table class="w-100">
                          
                            <tr>
                                <th>Select expense</th>
                                <td>
                                    <select class="form-control">
                                        <option value="Water">
                                            Water
                                        </option>
                                        <option value="Electricity">
                                            Electricity
                                        </option>
                                   
                                       

                                    </select>

                                </td>
                               
                            </tr>
                            <tr>
                                <th>Total</th>

                                <td>
                                    <input class="form-control" name="price_il" required placeholder="Total" />
                                </td>
                                
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button class="btn button_custome mt-3 " action><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Submit</button>

                                </td>
                                
                            </tr>


                        </table>

                        <hr />

                        <table class="w-100">
                            <tr>
                                <th colspan="2">Revenue</th>
                            </tr>
                            <tr>
                                <td>Tax rate (%):</td>
                                <td>
                                    <input class="form-control" name="price_il" required placeholder="Enter revenue here" />
                                </td>
                               
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button class="btn button_custome mt-3 " action><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Submit</button>

                                </td>

                            </tr>


                        </table>
                       
                        <hr />
                       



                    </form>
                    <div class="modal-body ">
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <button type="button" class="btn btn-white text-dark btn-sm shaddo" data-dismiss="modal">Exit</button>
                            </div>            <!-- Modal Header -->
                        </div>            <!-- Modal Header -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="Manage_salary" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content w3-card">

            <div class="modal-header  p-2  custome_header color_custome">
                <img src="/images/bottle.png" class="modal_logo" />&nbsp;<b class="color_custome">Change Employees Details&nbsp;</b>
            </div>
            <div class="modal-body  p-2  text-center">
                <form asp-action="take_attendance" asp-controller="staff_log_in" id="modify_form">
                    <table class="w-100">
                        <tr>
                            <th colspan="2">Industry Employees</th>
                        </tr>
                        <tr>
                            <td>No. of Employees:</td>
                            <td>
                                <input class="form-control" name="price_il" required placeholder="Enter number of employees here" />
                            </td>


                    </table>

                    <hr />

                    <table class="w-100">
                        <tr>
                            <th colspan="2">Supply Employees</th>
                        </tr>
                        <tr>
                            <td>No. of Employees:</td>
                            <td>
                                <input class="form-control" name="price_il" required placeholder="Enter number of employees here" />
                            </td>
                        </tr>



                    </table>
                    <hr />
                    <table class="w-100">
                        <tr>
                            <th colspan="2">Employees salary</th>

                        </tr>
                       

                        <tr>
                            <td>Salary Ksh.:</td>
                            <td>
                                

                                <input class="form-control" name="price_il" required placeholder="Enter new salary here" />


                            </td>


                        </tr>
                        </table>
                         <hr />
                    <table class="w-100">
                        <tr>
                            <th colspan="2">
                                <button class="btn button_custome mt-3 " action><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Update price</button>
                            </th>

                        </tr>
                       

                       

                    </table>

                   

                </form>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-white text-dark btn-sm shaddo" data-dismiss="modal">Exit</button>
                    </div>            <!-- Modal Header -->
                </div>            <!-- Modal Header -->
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="change_1" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content w3-card">

            <div class="modal-header  p-2  custome_header color_custome">
                <img src="/images/bottle.png" class="modal_logo" />&nbsp;<b class="color_custome">Add 1 Litre bottle to stock&nbsp;</b>
            </div>
            <div class="modal-body  p-2  text-center">
                <form asp-action="change_1l" asp-controller="staff_log_in" id="modify_form">
                    <div class="form-group">
                        No. of bottles added

                        <input class="form-control" name="price_il" required placeholder="Enter quantity added here" />
                        </div>
                        <div class="form-group">
                            Transport cost
                            <input class="form-control" name="price_il" required placeholder="Enter transport cost here" />
                        </div>
                        <button class="btn button_custome mt-3 " action><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Update stock</button>
                </form>
            <div class="modal-body ">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-white text-dark btn-sm shaddo" data-dismiss="modal">Exit</button>
                    </div>            <!-- Modal Header -->
                </div>            <!-- Modal Header -->
            </div>
        </div>
    </div>
</div>
</div>
    
    
    <div class="modal fade" id="att_r" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content w3-card">

            <div class="modal-header  p-2  ">
                <img src="~/images/logo_1.png" class="logo" />&nbsp;<b>Which report to access? &nbsp;</b>
            </div>
            <div class="modal-body  p-2  text-center">
                <form asp-action="attendance_report" asp-controller="staff_log_in" id="modify_form">
                    <div class="form-group">
                        @* <select class="form-control" name="course" asp-items="@(new SelectList(@ViewBag.Drop_sulier,"id","Course"))"></select>*@
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="year">
                            <option>--Select Year--</option>
                            <option value="First">First</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>
                            <option value="Fourth">Fourth</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="semester">
                            <option>--Select Semester--</option>
                            <option value="First">First</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>


                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="week">
                            <option>--Select week--</option>
                            <option value="Week 1">Week 1</option>
                            <option value="Week 2">Week 2</option>
                            <option value="Week 3">Week 3</option>
                            <option value="Week 4">Week 4</option>
                            <option value="Week 5">Week 5</option>
                            <option value="Week 6">Week 6</option>
                            <option value="Week 7">Week 7</option>
                            <option value="Week 8">Week 8</option>
                            <option value="Week 9">Week 9</option>
                            <option value="Week 10">Week 10</option>
                            <option value="Week 11">Week 11</option>
                            <option value="Week 12">Week 12</option>
                            <option value="Week 13">Week 13</option>
                            <option value="Week 14">Week 14</option>
                            <option value="Week 15">Week 15</option>
                            <option value="Week 16">Week 16</option>
                            <option value="Week 17">Week 17</option>
                            <option value="Week 18">Week 18</option>
                            <option value="Week 19">Week 19</option>
                            <option value="Week 20">Week 20</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>


                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-white text-dark shaddo">Next</button>
                    </div>
                </form>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-white text-dark btn-sm shaddo" data-dismiss="modal">Exit</button>
                    </div>            <!-- Modal Header -->
                </div>            <!-- Modal Header -->
            </div>
        </div>
    </div>
</div>
