


<div class="main-section ">
    <div class="row " style="margin-top:30px;">
        <div class="col-lg-12">
            <div class="w3-panel w3-card-4 p-10 shaddo bg-white dashbord text_color">
                <table>
                    <tr>
                        <td style="        border-right: 2px solid #a93226;
        margin: 10px;">
                            &nbsp;&nbsp; <img src="/images/carton (2).png" style="height:50px;margin:15px;" />
                        </td>
                        <td>

                            <table>
                                <tr>
                                    <td colspan="6" class="text-left"><p style="margin-left:10px;">Administrator &nbsp;&nbsp;|&nbsp;&nbsp;@ViewBag.name Brian Kimutai</p></td>
                                </tr>
                                <tr>

                                    <td> <form asp-action="create" asp-controller="Course_reg"><button class="btn button_custome " action><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Add new cartons</button></form></td>
                                    <td> <form asp-action="create"><button class="btn button_custome "><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>&nbsp;Sell carton</button></form></td>
                                    <td>
                                        <form asp-action="log_out">
                                            <button class="btn btn-light btn-sm">
                                                <i class="fa fa-power-off"></i>&nbsp;Log Out
                                            </button>
                                        </form>
                                    </td>


                                </tr>

                            </table>

                        </td>

                    </tr>

                </table>



            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4">
            <img scr="" class="card_icon" /><br>


            <div class="dashbord">
                <div class="icon-section">
                    <i class="fa fa-square-o" aria-hidden="true"></i><br />
                    <h6 class="card_label">1 Litre carton</h6>
                    <p>@ViewBag.Courses</p>
                    <h5 class="font-weight-bold text_color_cards">Ksh. 6/=</h5>

                </div>
                <div class="detail-section">

                    <a class="btn btn-light round_b button_cards" asp-action="create" asp-controller="Course_reg">Change price &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></a>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img scr="" class="card_icon" /><br>


            <div class="dashbord">
                <div class="icon-section">
                    <i class="fa fa-square" aria-hidden="true"></i><br />
                    <h6 class="card_label">5 Litre carton</h6>
                    <p>@ViewBag.Courses</p>
                    <h5 class="font-weight-bold text_color_cards">Ksh. 6/=</h5>

                </div>
                <div class="detail-section">

                    <a class="btn btn-light round_b button_cards" asp-action="create" asp-controller="Course_reg">Change price &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></a>

                </div>
            </div>
        </div> <div class="col-lg-4">
            <img scr="" class="card_icon" /><br>


            <div class="dashbord">
                <div class="icon-section">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i><br>
                    <small>Manage Salaries</small>
                    <p>@ViewBag.Staff</p>
                    <h5 class="font-weight-bold text_color_cards">Salaries</h5>

                </div>
                <div class="detail-section">

                    <a class="btn btn-light round_b button_cards" asp-action="create" asp-controller="Course_reg">Manage salaries &nbsp;<i class="fa fa-money" aria-hidden="true"></i></a>

                </div>
            </div>
        </div> <div class="col-lg-4">
            <div class="dashbord ">
                <div class="icon-section">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i><br>
                    <small>Manage Salaries</small>
                    <p>@ViewBag.Staff</p>
                    <h5 class="font-weight-bold text_color_cards">Salaries</h5>

                </div>
                <div class="detail-section">
                    <a class="btn btn-light round_b" asp-action="index" asp-controller="staff_log_in">Manage staff&nbsp;<i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="dashbord dashbord-green">
                <div class="icon-section">

                    <i class="fa fa-file-text"></i><br>
                    <small>Take Attendance</small>
                    <p>@ViewBag.Staff</p>
                </div>
                <div class="detail-section">
                    <a class="btn btn-light round_b text-dark" data-target="#receipt_mod" data-toggle="modal">Update price&nbsp;<i class="fa fa-angle-double-right"></i></a>

                </div>
            </div>
        </div>  <div class="col-lg-6">
            <div class="dashbord dashbord-green">
                <div class="icon-section">

                    <i class="fa fa-file-text"></i><br>
                    <small>Attendance report</small>

                    <p>.</p>
                </div>
                <div class="detail-section">
                    <a class="btn btn-light round_b text-dark" data-toggle="modal" data-target="#att_r">Go to report&nbsp;<i class="fa fa-angle-double-right"></i></a>

                </div>
            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="receipt_mod" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content w3-card">

            <div class="modal-header  p-2  ">
                <img src="~/images/logo_1.png" class="logo" />&nbsp;<b>Enter class details &nbsp;</b>
            </div>
            <div class="modal-body  p-2  text-center">
                <form asp-action="take_attendance" asp-controller="staff_log_in" id="modify_form">
                    <div class="form-group">
                        @*<select class="form-control" name="course" asp-items="@(new SelectList(@ViewBag.Drop_sulier,"id","Course"))"></select>*@
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="year">
                            <option>--Select Year--</option>
                            <option value="First">First</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>
                            <option value="Fourth">Fourth</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="semester">
                            <option>--Select Semester--</option>
                            <option value="First">First</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>


                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="week">
                            <option>--Select week--</option>
                            <option value="Week 1">Week 1</option>
                            <option value="Week 2">Week 2</option>
                            <option value="Week 3">Week 3</option>
                            <option value="Week 4">Week 4</option>
                            <option value="Week 5">Week 5</option>
                            <option value="Week 6">Week 6</option>
                            <option value="Week 7">Week 7</option>
                            <option value="Week 8">Week 8</option>
                            <option value="Week 9">Week 9</option>
                            <option value="Week 10">Week 10</option>
                            <option value="Week 11">Week 11</option>
                            <option value="Week 12">Week 12</option>
                            <option value="Week 13">Week 13</option>
                            <option value="Week 14">Week 14</option>
                            <option value="Week 15">Week 15</option>
                            <option value="Week 16">Week 16</option>
                            <option value="Week 17">Week 17</option>
                            <option value="Week 18">Week 18</option>
                            <option value="Week 19">Week 19</option>
                            <option value="Week 20">Week 20</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>


                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-white text-dark shaddo">Next</button>
                    </div>
                </form>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-white text-dark btn-sm shaddo" data-dismiss="modal">Exit</button>
                    </div>            <!-- Modal Header -->
                </div>            <!-- Modal Header -->
            </div>
        </div>
    </div>
</div><div class="modal fade" id="att_r" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content w3-card">

            <div class="modal-header  p-2  ">
                <img src="~/images/logo_1.png" class="logo" />&nbsp;<b>Which report to access? &nbsp;</b>
            </div>
            <div class="modal-body  p-2  text-center">
                <form asp-action="attendance_report" asp-controller="staff_log_in" id="modify_form">
                    <div class="form-group">
                        @* <select class="form-control" name="course" asp-items="@(new SelectList(@ViewBag.Drop_sulier,"id","Course"))"></select>*@
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="year">
                            <option>--Select Year--</option>
                            <option value="First">First</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>
                            <option value="Fourth">Fourth</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="semester">
                            <option>--Select Semester--</option>
                            <option value="First">First</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>


                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="week">
                            <option>--Select week--</option>
                            <option value="Week 1">Week 1</option>
                            <option value="Week 2">Week 2</option>
                            <option value="Week 3">Week 3</option>
                            <option value="Week 4">Week 4</option>
                            <option value="Week 5">Week 5</option>
                            <option value="Week 6">Week 6</option>
                            <option value="Week 7">Week 7</option>
                            <option value="Week 8">Week 8</option>
                            <option value="Week 9">Week 9</option>
                            <option value="Week 10">Week 10</option>
                            <option value="Week 11">Week 11</option>
                            <option value="Week 12">Week 12</option>
                            <option value="Week 13">Week 13</option>
                            <option value="Week 14">Week 14</option>
                            <option value="Week 15">Week 15</option>
                            <option value="Week 16">Week 16</option>
                            <option value="Week 17">Week 17</option>
                            <option value="Week 18">Week 18</option>
                            <option value="Week 19">Week 19</option>
                            <option value="Week 20">Week 20</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>


                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-white text-dark shaddo">Next</button>
                    </div>
                </form>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-white text-dark btn-sm shaddo" data-dismiss="modal">Exit</button>
                    </div>            <!-- Modal Header -->
                </div>            <!-- Modal Header -->
            </div>
        </div>
    </div>
</div>
